# Use default values for most things
# This is a Jinja2 template file
PermitRootLogin {{ permit_root_login }}
# Other default sshd_config settings should be included or inherited from the default config

